<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <dubbo:application name="cheng-dubbo-provider"/>

  <dubbo:registry id="zk1" address="115.29.47.207:2181" protocol="zookeeper"/> <!-- 注意要关闭防火墙 -->

  <dubbo:protocol id="mydubbo" name="dubbo" port="20886"/>

  <dubbo:provider registry="zk1" protocol="mydubbo"/>

  <bean name="speakInterface" class="com.cheng.dubbo.impl.SpeakInterfaceImpl"/>
  <bean name="nameInterface" class="com.cheng.dubbo.impl.NameInterfaceImpl"/>
  <bean name="growUpInterface" class="com.cheng.dubbo.impl.GrowUpInterfaceImpl"/>

  <dubbo:service interface="com.cheng.dubbo.SpeakInterface" ref="speakInterface"/>
  <dubbo:service interface="com.cheng.dubbo.NameInterface" ref="nameInterface"/>
  <dubbo:service interface="com.cheng.dubbo.GrowUpInterface" ref="growUpInterface"/>

</beans>
